<div class="container-home">
    <div>
        <img src="assets/img/truextend.jfif" alt="truextend">        
        <h5>INTERSHIP PROGRAM</h5>
        <p>The Truextend Internship Program aims to develop your talent to the fullest, it has been designed to enhance your software development skills, and you have everything you need to quickly create prototypes and build software with the latest tools. You will be part of a team with other interns and will be responsible for creating or evolving products from start to finish, starting with the definition, working on the design and development; all your effort will conclude with the launch of the product to production. Truextend Trainers and Technical Leads will provide guidance and experience throughout the process.</p>
    </div>
</div>